@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');

body {
  display: grid;
  grid-template-rows: min-content auto min-content;
  gap: 1rem;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 1rem;
  color: white;
  min-height: calc(100vh - 2rem);
  background-image: url(assets/images/background.jpg);
  background-size: cover;
  background-position: center;
}

header img {
  display: block;
  height: 50px;
}

main {
  display: grid;
  place-content: center;
  max-width: 60ch;
}

main h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

main p {
  font-size: 1.5rem;
  margin-bottom: 0;
}

main .badges {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

main .badge {
  display: flex;
  height: 3rem;
}
