main {
  display: grid;
  place-content: center;
  margin: auto;
  padding: 1rem;
  max-width: 60ch;
}

main h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

main p {
  font-size: 1.5rem;
  margin-bottom: 0;
}
