@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');

* {
  outline: none;
  font-family: inherit;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

body {
  font-family: 'Work Sans', sans-serif;

  margin: 0 auto;
  max-width: 1280px;
}

a {
  color: inherit;
  text-decoration: none;
  border-radius: 0.5rem;
}

a:focus-visible,
button:focus-visible {
  transition: box-shadow 100ms;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

button {
  display: block;
  cursor: pointer;
  font-size: 1.5em;
  text-align: center;
  color: black;
  padding: 0.5em 1em;
  width: max-content;
  border: none;
  border-radius: 0.5rem;
  transition: 100ms;
}

button:hover {
  opacity: 0.9;
}
