#bg {
  background-image: url(/assets/images/business-background.jpg);
}

main {
  display: grid;
  place-content: center;
  max-width: 60ch;
  padding: 1rem;
}

main img {
  height: 6rem;
}

main h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

main p {
  font-size: 1.5rem;
  margin-bottom: 0;
}

main .badges {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

main .badge {
  display: flex;
}

main .badge img {
  height: 3rem;
}

.get-in-touch {
  display: block;

  color: white;
  background-color: #ff1616;

  margin: 1rem auto;
  padding: 1rem;

  width: max-content;

  &.no-center {
    margin: 1rem 0;
  }
}

.get-in-touch-title {
  margin-bottom: 0;
  text-align: center;
}

#features {
  display: grid;
  gap: 1rem;

  padding: 1rem;

  .feature {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    padding: 1rem;
    border-radius: 1rem;
    background-color: salmon;

    font-size: x-large;

    img {
      height: 600px;
    }

    > div {
      max-width: 30ch;
    }

    h2,
    p {
      margin: 0;
    }

    h2 {
      font-size: 2em;
      margin-bottom: 1rem;
    }

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }
  }
}

@media (max-width: 1280px) {
  #features {
    .feature {
      font-size: large;

      img {
        height: 500px;
      }
    }
  }
}

@media (max-width: 900px) {
  #features {
    .feature {
      font-size: medium;

      img {
        height: 400px;
      }
    }
  }
}
