@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');

* {
  outline: none;
  font-family: inherit;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  border-radius: 0.5rem;
}

a:focus {
  color: inherit;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

button {
  display: block;
  cursor: pointer;
  font-size: 1.5em;
  text-align: center;
  color: black;
  background-color: white;
  padding: 0.5em 1em;
  width: max-content;
  border: none;
  border-radius: 0.5rem;
  transition: 100ms;
}

button:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

button:hover {
  opacity: 0.9;
}

#app {
  display: grid;
  grid-template-rows: min-content auto min-content;
  gap: 1rem;
  padding: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
}

header,
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 1rem;
}

header img {
  display: block;
  height: 40px;
}

#nav-toggle {
  display: none;
  gap: 0.2rem;
  justify-content: center;
  height: 100%;
}

#nav-toggle span {
  display: block;
  width: 1rem;
  height: 0.1rem;
  background-color: grey;
}

main {
  display: grid;
  place-content: center;
  max-width: 60ch;
}

main h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

main p {
  font-size: 1.5rem;
  margin-bottom: 0;
}

main .badges {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

main .badge {
  display: flex;
}

main .badge img {
  height: 3rem;
}

.background-image {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.background-image img {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

@media (max-width: 600px) {
  header nav:not([data-show]) {
    display: none;
  }

  header nav {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    color: black;
    background-color: white;
    position: absolute;
    top: calc(2rem + 50px); /* 50px: logo image height */
    z-index: 1;
    padding: 1rem;
    border-radius: 0.5rem;
    width: calc(100% - 2rem);
  }

  header nav a {
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  header nav a:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
  }

  #nav-toggle {
    display: flex;
    flex-direction: column;
  }
}
