#bg {
  position: absolute;

  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  opacity: 0.3;

  background-image: url(/assets/images/background.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#app {
  display: grid;
  grid-template-rows: min-content auto;
  gap: 1rem;
  min-height: 100vh;
  overflow-y: hidden;
}

header .logo {
  display: none;
}

#nav-container {
  width: 100%;
}

nav {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

#nav-toggle {
  display: none;
  gap: 0.2rem;
  justify-content: center;
  height: 100%;
  margin-left: auto;
}

#nav-toggle span {
  width: 1rem;
  height: 0.1rem;
  background-color: black;
}

main {
  display: grid;
  place-content: center;
  max-width: 60ch;
  margin-left: auto;
  padding: 1rem;
}

main .logo {
  height: 4rem;
}

main h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

main p {
  font-size: 1.5rem;
  margin-bottom: 0;
}

main .badges {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

main .badge {
  display: flex;
}

main .badge img {
  height: 3rem;
}

main .badge.social {
  padding: 0.5rem;
  background-color: white;
}

main .badge.social img {
  height: 2rem;
}

#screen {
  position: absolute;
  max-width: 20%;
  max-height: 60%;
  left: 0;
  bottom: 0;
}

#mail {
  font-size: 1.2rem;
}

#mail a {
  color: initial;
  text-decoration: underline;
}

@media (max-width: 1000px) {
  #app {
    grid-template-rows: min-content auto 300px;
  }

  main {
    margin: auto;
  }

  #screen {
    position: unset;
    width: 30%;
    max-width: none;
    max-height: none;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  header {
    background-color: white;
  }

  header .logo {
    display: block;
  }

  header nav {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    color: black;
    background-color: white;
    padding: 1rem;
  }

  header nav a {
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  header nav a:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
  }

  #nav-container {
    /* 4.2rem: header height: 2rem of padding and 2.2rem of actual height */
  
    width: 100%;
    height: calc(100% - 4.2rem);
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 4.2rem;
    left: 0;
    z-index: 1;
  }
  
  #nav-container:not([data-show]) {
    display: none;
  }

  #nav-toggle {
    display: flex;
    flex-direction: column;
  }

  main .logo {
    display: none;
  }

  #screen {
    width: 60%;
  }
}
