#bg {
  position: absolute;

  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  opacity: 0.5;

  background-image: url(/assets/images/background.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#promo-banner-container {
  margin: 0 auto;

  &[data-hide] {
    display: none;
  }
}

#promo-banner {
  display: flex;
  align-items: center;
  gap: 1rem;

  color: black;
  background-color: salmon;

  padding: 1rem;
  border-radius: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  max-width: calc(100vw - 2rem);

  > span:first-child {
    font-size: 1.5rem;
  }
}

#app {
  display: grid;
  grid-template-rows: min-content auto;
  gap: 1rem;
  min-height: 100vh;

  // This class is to be used to avoid the false bottom issue
  &.more-content {
    min-height: 90vh;
  }
}

main {
  display: grid;
  place-content: center;
  max-width: 60ch;
  margin: auto;
  padding: 1rem;
}

main .logo {
  height: 4rem;
}

main h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

main p {
  font-size: 1.5rem;
  margin-bottom: 0;
}

main .badges {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}

main .badge {
  display: flex;
}

main .badge img {
  height: 3rem;
}

main .badge.social {
  padding: 0.5rem;
  background-color: white;
}

main .badge.social img {
  height: 2rem;
}

#features {
  display: grid;
  gap: 1rem;

  padding: 1rem;

  .feature {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    padding: 1rem;
    border-radius: 1rem;
    background-color: salmon;

    font-size: x-large;

    img {
      height: 600px;
    }

    > div {
      max-width: 30ch;
    }

    h2,
    p {
      margin: 0;
    }

    h2 {
      font-size: 2em;
      margin-bottom: 1rem;
    }

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }
  }
}

@media (max-width: 1280px) {
  #features {
    .feature {
      font-size: large;

      img {
        height: 500px;
      }
    }
  }
}

@media (max-width: 900px) {
  #features {
    .feature {
      font-size: medium;

      img {
        height: 400px;
      }
    }
  }
}

@media (max-width: 600px) {
  main .logo {
    display: none;
  }
}
