<header>
  <a class="logo" href="/">
    <img src="/assets/images/logo.svg" alt="Zippa">
  </a>
  <button id="nav-toggle" aria-label="Apri menu">
    <span></span>
    <span></span>
  </button>
  <div id="nav-container">
    <nav>
      {{#if showBusinessLink}}
      <a href="/business">Diventa pizzeria Zippa</a>
      {{/if}}
      <a href="mailto:zippa.app@gmail.com">Contattaci</a>
    </nav>
  </div>
</header>
