<header>
  <a class="logo" href="/">
    <img src="/assets/images/logo.svg" alt="Zippa">
  </a>
  <button id="nav-toggle" aria-label="Apri menu">
    <span></span>
    <span></span>
  </button>
  <div id="nav-container">
    <nav>
      {{#if showBusinessLink}}
      <a class="primary" href="/business">Diventa pizzeria Zippa</a>
      {{/if}}
      {{#if showBusinessFormLink}}
      <a class="primary" href="https://docs.google.com/forms/d/e/1FAIpQLSf1CW6PLEXTfe3n0GoNEVJ7fYYtOUHRd_0F2Z4X7UKckwLFFw/viewform">Richiedi informazioni</a>
      {{/if}}
      <a href="mailto:zippa.app@gmail.com">Contattaci</a>
    </nav>
  </div>
</header>
