<a href="/business" id="promo-banner-container">
  <div id="promo-banner">
    <span>&#127881;</span>
    <div>
      <small>
        <b>Promozione</b>
      </small>
      <br>
      <span>
        Diventa pizzeria Zippa entro <b>gennaio 2023</b>
        e utilizza il servizio <b>gratuitamente</b> per
        tutto il <b>2023</b>.
      </span>
    </div>
  </div>
</a>
